In [ ]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

In [ ]:
sampleList = [10, 20, 30, 40, 50]
sampleList.append(60)
print(sampleList)

sampleList.append(60)
print(sampleList)

In [ ]:
aList = ['a', 'b', 'c', 'd']

newList = aList.copy()
newList

In [ ]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

In [ ]:
l = [None] * 10
print(len(l))

In [ ]:
aList = [5, 10, 15, 25]
print(aList[::-3])

In [ ]:
aList = [4, 8, 12, 16]
aList[1:2] = [20, 24, 28]
print(aList)

In [ ]:
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]
pow2 =  [2 * x for x in aList]
print(pow2)

In [ ]:
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))

In [ ]:
my_list = ["Hello", "Python"]
print("-".join(my_list))

In [ ]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

In [ ]:
sampleList = [10, 20, 30, 40, 50]
sampleList.pop()
print(sampleList)

sampleList.pop(2)
print(sampleList)

In [ ]:
resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
print(resList)

In [ ]:
sample_list = [34, 54, 67, 89, 11, 43, 94]

print("Original list ", sample_list)
element = sample_list.pop(4)
print("List After removing element at index 4 ", sample_list)

sample_list.insert(2, element)
print("List after Adding element at index 2 ", sample_list)

sample_list.append(element)
print("List after Adding element at last ", sample_list)

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", sample_list)

count_dict = dict()
for item in sample_list:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

print("Printing count of each item  ", count_dict)

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", sample_list)

count_dict = dict()
for item in sample_list:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

print("Printing count of each item  ", count_dict)

In [ ]:
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    # return multiple values separated by comma
    return addition, subtraction

# get result in tuple format
res = calculation(40, 10)
print(res)

In [ ]:
#count = int(input("Enter the count of numbers: "))
i = 0
sum = 0
for i in range(0, 5):
    x = int(input("Enter an integer: "))
    sum = sum + x
avg = sum/5
print("The average is: ", avg)

In [ ]:
numbers = [8,3,1,6,2,4,5,9]
count = 0
odd_list =[]
for i in range(len(numbers)):
    if(numbers[i]%2!=0):
        count = count+1
        odd_list.append(numbers[i])
print("The number of odd numbers in the list are: ", count)
print("The number of odd numbers in the list are: ", odd_list)

In [ ]:
list = [ 'Tech', 404, 3.03, 'Beamers', 33.3 ]
print(list[1:3])

In [ ]:
def f():
    pass

print(type(f()))

In [ ]:
num = '5'*'5'

In [ ]:
x = True
y = False
z = False
if not x or y:
    print(1)
elif not x or not y and z:
    print(2)
elif not x or y or not y and x:
    print(3)
else:
    print(4)

In [ ]:
print(type(1J))

In [ ]:
print(3/5)

In [ ]:
tinytuple = (123, 'techbeamers')
print(tinytuple * 2)

In [ ]:
a = [1,2,3,None,(),[]]
print(len(a))

In [ ]:
print(abc)

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colors[2]

In [ ]:
pre_code = "Python" 
a = "Python Quiz" 
print(a[2:5])

In [ ]:
pre_code = "Python"
for i in range(0,10,3):    
    print(i)

In [ ]:
pre_code = "python" 
c = 2 ** 3 + 4 * 2 
print(c)

In [ ]:
2**3

In [ ]:
4*2

In [ ]:
x = 'abcd'
for i in x:
    print(i.upper())

In [ ]:
for i in [1, 2, 3, 4][::-1]:
    print (i)

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

In [ ]:
11**2

In [ ]:
print(2**3 + (5 + 6)**(1 + 1))

In [ ]:
var = 10
print(type(var))
var = "Hello"
print(type(var))

In [ ]:
def solve(a):
    a = [1, 3, 5]
#a = [2, 4, 6]
print(a)
#solve(a)
#print(a)

In [ ]:
50%20

In [ ]:
def solve(a, b):
    return b if a == 0 else solve(b % a, a)
print(solve(20, 50))

In [ ]:
a = [1, 2]
print(a * 3)

In [ ]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
del example[2]
print(example)

In [ ]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

In [ ]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
odd_numbers = [x for x in sorted_numbers if x % 2 != 0]
print(odd_numbers)

In [ ]:
#Sets in python store only unique elements within them, without any repetition.
s = {1, 2, 3, 3, 2, 4, 5, 5}
print(s)

In [ ]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
c = [x for x in a if x not in b]
print(c)

In [ ]:
2 ** 3 + 5 ** 2

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]

In [ ]:
list1[4]

In [ ]:
 list1[:5]

In [ ]:
list1=[1,3.4,4,'a','t',4]
print((set(list1)))

In [ ]:
list1=[9,8,7,6,5,4,3,2,1]
list1.pop(4)

In [ ]:
list1=['abc','tres','yes']
print(list1[0][0])
print(list1[0][1])
print(list1[0][2])
print(list1[1][0])
print(list1[1][1])
print(list1[1][2])
print(list1[1][3])
print(list1[2][1])
print(list1[2][2])

In [ ]:
list1=['abc','rt',0,4,5.7]

list2=[i for i in list1 if i]

list2

In [ ]:
if('P' in 'Python'):
    print('P is present',end=" ")
else:
    print('Not present')

In [ ]:
no=5
if(no%2==0):
    print('Even Number')
    #else(no%2==1):
else:
        print('odd Number')

In [ ]:
class MathUtils:

    @staticmethod
    def average(a, b):
        return a + b / 2

print(MathUtils.average(2, 1))

In [ ]:
def unique_names(names1, names2):
    return None

if __name__ == "__main__":
    names1 = ["Ava", "Emma", "Olivia"]
    names2 = ["Olivia", "Sophia", "Emma"]
    for i in names1:
        if (names1[i]==names2[i]):
            print(unique_names(names1, names2))

In [ ]:
s1= 'a'
s2='b'
s3= s1+s2
s3

In [ ]:
mystr = "codescracker"
print(type(mystr))

In [ ]:
mystr = "codescracker"
print(mystr.replace("c", "x"))

In [ ]:
mystr[3]

In [ ]:
print(0.1 + 0.2 == 0.3)

In [ ]:
mylist = ['c', 'o', 'd', 'e', 's']
print(len(mylist))

In [ ]:
mylist = [10, 20, 5, 30, 15]
print(max(mylist))

In [ ]:
mylist = [10, 20, 5, 30, 15]
print(sum mylist)

In [ ]:
mylist = [4, 2, 2, 4, 5, 2, 564, 0]

In [ ]:
print(mylist[:5])

In [ ]:
print(mylist[:-1])

In [ ]:
mylist = [10, 20, 5, 30, 15]
print(mylist[-2])

In [ ]:
mylist = [0.5 * x for x in range(0, 4)]
print(mylist)

In [ ]:
mylist = [3, 4, 5, 20, 5]
print(mylist.index(5))

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
print(mylist.count(5))

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
mylist.reverse()
print(mylist)

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
mylist.extend([34, 5])
print(mylist)

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
print(mylist.pop(1))

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
mylist.pop()
print(mylist)

In [ ]:
list_1 = [ 3, 5, 7, 3, 9, 3 ]   
print(list_1)  
list_1.remove(3)   
print("After removal: ", list_1)

In [ ]:
str = "Rohan"  
str2 = "ab"  
# Calling function    
str2 = str.join(str2)    
# Displaying result    
print(str2)

In [ ]:
list = [2,4,6,7,3,4]  
print(5 in list) # False  
cities = ("india","delhi")  
print("tokyo"  in cities) #True

In [ ]:
import numpy as np
arr = np.arange(10)
arr

In [ ]:
for i in arr:
    if(arr[i]%2==1):
        print(arr[i])

In [ ]:
import pandas as pd


def sum(x, y, z):
    return x + y + z


df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})

df1 = df.apply(sum, args=(1, 2))
print(df1)

In [ ]:
df

In [2]:
st = 'Print every word in this sentence that has an even number of letters'
print(len(st))

68

In [3]:
for word in st.split():
    if len(word)%2==0:
        print("even", word)

even word
even in
even this
even sentence
even that
even an
even even
even number
even of

In [4]:
st = 'Create a list of the first letters of every word in this string'
#Use a List Comprehension to create a list of the first letters of every word in the string below:

In [6]:
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [ ]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
lesser_of_two_evens(2,4) --> 2
lesser_of_two_evens(2,5) --> 5

In [11]:
def lesser_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        if(a<b):
            print(a)
        else:
            print(b)

In [14]:
lesser_of_two_evens(2,4)

2

In [13]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [15]:
lesser_of_two_evens(5,4)

5

In [ ]:
'''ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
animal_crackers('Levelheaded Llama') --> True
animal_crackers('Crazy Kangaroo') --> False'''

In [38]:
def animal_crackers(text):
    word = text.split()
    if(word[0][0]==word[1][0]):
        print("true")
    else:
        print("false")

In [37]:
animal_crackers('Levelheaded Llama')

true

In [39]:
animal_crackers('Crazy Kangaroo')

false

In [ ]:
'''MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
makes_twenty(20,10) --> True
makes_twenty(12,8) --> True
makes_twenty(2,3) --> False'''

In [69]:
def makes_twenty(a,b):
    if(a+b==20 or (a==20) or (b==20)):
        print("true")
    else:
        print("false")

In [71]:
makes_twenty(2,8)

false

In [ ]:
'''ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True
'''

In [79]:
def old_macdonald(name):
    if len(name) > 3:
        return name[0].capitalize() + name[3].capitalize()
    else:
        return 'Name is too short!'

In [80]:
old_macdonald('macdonald')

'MD'

In [78]:
name='macdonald'
name[3]

'd'

In [ ]:
def has_33(nums):
    for i in range(0, len(nums)-1):
      
        # nicer looking alternative in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
    
        if nums[i:i+2] == [3,3]:
            return True  
    
    return False

In [83]:
def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True  
    return False

In [84]:
has_33([1, 3, 3])

True

In [ ]:
'''BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19'''

In [111]:
def blackjack(a,b,c):
    if(a+b+c<=21):
        print(a+b+c)
    elif (a+b+c>21 and (a==11) or (b==11) or (c==11)):
        print(((a+b+c)-10))
    else:
        print("bust")

In [112]:
blackjack(9,9,9)

bust

In [110]:
blackjack(9,9,11)

19

In [118]:
#fibonacci
n=int(input("Enter number:"))
a = 0
b = 1
if n < 0: 
    print("Incorrect input") 
elif n == 0: 
    print(a)
elif n == 1: 
    print(a) 
else: 
    for i in range(2,n): 
        c = a + b 
        a = b 
        b = c 
    print(a,b,c)

Enter number:3
1 1 1

In [119]:
''''Use map() to create a function which finds the length of each word in the phrase (broken by spaces) and return the values in a list.

''''The function will have an input of a string, and output a list of integers.

SyntaxError: EOL while scanning string literal (80193198.py, line 3)

In [124]:
def word_lengths(phrase):
    
    return list(map(len, phrase.split()))

In [125]:
word_lengths('How long are the words in this phrase')

[3, 4, 3, 3, 5, 2, 4, 6]

In [126]:
def fahrenheit(celsius):
    return (9/5)*celsius + 32
    
temps = [0, 22.5, 40, 100]

In [129]:
fahrenheit(40)

104.0

In [130]:
F_temps = map(fahrenheit, temps)

#Show
list(F_temps)

[32.0, 72.5, 104.0, 212.0]

In [134]:
x = ["Red","Green","Blue"]  
for i in x:
    if i == "Green":
        continue
    print(i)

Red
Blue

In [ ]:
#Write a Python program that returns true if the two given integer values are equal or their sum or difference is 5.

In [140]:
def eq(a,b):
    if(a==b or a+b==5 or a-b==5):
        return True  
    else:
        return False

In [141]:
eq(2,4)

False

In [142]:
s = "The quick brown fox jumps over the lazy dog."  
print("Original string:")
print(s)
print("Number of occurrence of 'o' in the said string:")
ctr = 0 
for c in s:
   if c == 'o':
       ctr = ctr + 1
print(ctr)

Original string:
The quick brown fox jumps over the lazy dog.
Number of occurrence of 'o' in the said string:
4

In [144]:
#sum all the items in a lis
li=[2,3,4,5]
total=0
for i in li:
    total=total+i
print(total)

14

In [147]:
#largest number from a list
li=[2,7,9,4]
max=li[0]
for i in li:
    if i>max:
        max=i
print(max)

9

In [148]:
# frequency of elements in a list
li =[2,3,2,2,3,4,5,5]
lis=[]
ct=0
for i in li:
    if i in li:
        ct=ct+1
        lis.append(ct)
    print(lis)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]

In [149]:
# find common items in two lists
li =[2,3,4,5]
lis=[2,5,6,7]
for i in li:
    if i in lis:
        print(i)

2
5

In [163]:
#Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. Go to the editor
Sample_list=['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [166]:
Sample_list

['Green', 'White', 'Black']

In [165]:
Sample_list.pop()
del Sample_list[0]
del Sample_list[3]
#print(Sample_list)

In [170]:
li =[2,5,6,7]
for i in li:
    if i%2==0:
        li.remove(i)
print(li)

[5, 7]

In [171]:
my_list = [10, 20, 30, 40, 20, 50, 60, 40]
for i in my_list:
    if my_list.count(i)==1:
        print(i)

10
30
50
60

In [181]:
#hat accepts a string and calculates the number of digits and letters
mystring= 'shradha 23'
ct=0
ct1=0
for i in mystring:
    if(i.isdigit()):
        ct= ct+1
    elif(i.isalpha()):
        ct1=ct1+1
print(ct,ct1)

2 7

In [182]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('the quick brown fox jumps over the lazy dog.'))

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog.': 1}

In [200]:
#count repeated characters in a string. 
mystring='urtert'
for i in mystring:
    #print(mystring.count(i))
    if mystring.count(i)>1:
        print(i)

r
t
r
t

In [191]:
'''Write a Python class Employee with attributes like emp_id, emp_name, emp_salary, and emp_department and methods like calculate_emp_salary, emp_assign_department, and print_employee_details.

Sample Employee Data:
"ADAMS", "E7876", 50000, "ACCOUNTING"
"JONES", "E7499", 45000, "RESEARCH"
"MARTIN", "E7900", 50000, "SALES"
"SMITH", "E7698", 55000, "OPERATIONS"
Use 'assign_department' method to change the department of an employee.
Use 'print_employee_details' method to print the details of an employee.
Use 'calculate_emp_salary' method takes two arguments: salary and hours_worked, which is the number of hours worked by the employee. If the number of hours worked is more than 50, the method computes overtime and adds it to the salary. Overtime is calculated as following formula:
overtime = hours_worked – 50
Overtime amount = (overtime * (salary / 50))'''

NameError: name 'count' is not defined

In [201]:
class Employee:
    def __init__(self, name, emp_id, salary, department):
        self.name = name
        self.id = emp_id
        self.salary = salary
        self.department = department

    def calculate_salary(self, salary, hours_worked):
        overtime = 0
        if hours_worked > 50:
            overtime = hours_worked - 50
        self.salary = self.salary + (overtime * (self.salary / 50))

    def assign_department(self, emp_department):
        self.department = emp_department

    def print_employee_details(self):
        print("\nName: ", self.name)
        print("ID: ", self.id)
        print("Salary: ", self.salary)
        print("Department: ", self.department)
        print("----------------------")


employee1 = Employee("ADAMS", "E7876", 50000, "ACCOUNTING")
employee2 = Employee("JONES", "E7499", 45000, "RESEARCH")
employee3 = Employee("MARTIN", "E7900", 50000, "SALES")
employee4 = Employee("SMITH", "E7698", 55000, "OPERATIONS")

print("Original Employee Details:")
employee1.print_employee_details()
employee2.print_employee_details()
employee3.print_employee_details()
employee4.print_employee_details()

# Change the departments of employee1 and employee4
employee1.assign_department("OPERATIONS")
employee4.assign_department("SALES")

# Now calculate the overtime of the employees who are eligible:
employee2.calculate_salary(45000, 52)
employee4.calculate_salary(45000, 60)

print("Updated Employee Details:")
employee1.print_employee_details()
employee2.print_employee_details()
employee3.print_employee_details()
employee4.print_employee_details()

Original Employee Details:

Name:  ADAMS
ID:  E7876
Salary:  50000
Department:  ACCOUNTING
----------------------

Name:  JONES
ID:  E7499
Salary:  45000
Department:  RESEARCH
----------------------

Name:  MARTIN
ID:  E7900
Salary:  50000
Department:  SALES
----------------------

Name:  SMITH
ID:  E7698
Salary:  55000
Department:  OPERATIONS
----------------------
Updated Employee Details:

Name:  ADAMS
ID:  E7876
Salary:  50000
Department:  OPERATIONS
----------------------

Name:  JONES
ID:  E7499
Salary:  46800.0
Department:  RESEARCH
----------------------

Name:  MARTIN
ID:  E7900
Salary:  50000
Department:  SALES
----------------------

Name:  SMITH
ID:  E7698
Salary:  66000.0
Department:  SALES
----------------------

In [202]:
class BankAccount:
    def __init__(self, account_number, date_of_opening, balance, customer_name):
        self.account_number = account_number
        self.date_of_opening  = date_of_opening 
        self.balance = balance
        self.customer_name = customer_name
        
    def deposit(self, amount):
        self.balance += amount
        print(f"${amount} has been deposited in your account.")
    
    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient balance.")
        else:
            self.balance -= amount
            print(f"${amount} has been withdrawn from your account.")
            
    def check_balance(self):
        print(f"Current balance is ${self.balance}.")
        
    def print_customer_details(self):
        print("Name:", self.customer_name)
        print("Account Number:", self.account_number)
        print("Date of opening:", self.date_of_opening)
        print(f"Balance: ${self.balance}\n")   

# Input customer details
ac_no_1 = BankAccount(2345, "01-01-2011", 1000, "Toninho Takeo")
ac_no_2 = BankAccount(1234, "11-03-2011", 2000, "Astrid Rugile")
ac_no_3 = BankAccount(2312, "12-01-2009", 3000, "Orli Kerenza")
ac_no_4 = BankAccount(1395, "01-01-2011", 3000, "Luciana Chika")
ac_no_5 = BankAccount(6345, "01-05-2011", 4000, "Toninho Takeo")

print("Customer Details:")
ac_no_1.print_customer_details()
ac_no_2.print_customer_details()
ac_no_3.print_customer_details()
ac_no_4.print_customer_details()
ac_no_5.print_customer_details()

print("=============================")
ac_no_4.print_customer_details()
# Current balance is $3000.
# $1000 has been deposited in your account.
ac_no_4.deposit(1000)
ac_no_4.check_balance()
# Your current balance $4000.
# You want to withdraw $5000
ac_no_4.withdraw(5000)
# Output:
# Insufficient balance.
#The customer withdraw $3400.
ac_no_4.withdraw(3400)
ac_no_4.check_balance()

Customer Details:
Name: Toninho Takeo
Account Number: 2345
Date of opening: 01-01-2011
Balance: $1000

Name: Astrid Rugile
Account Number: 1234
Date of opening: 11-03-2011
Balance: $2000

Name: Orli Kerenza
Account Number: 2312
Date of opening: 12-01-2009
Balance: $3000

Name: Luciana Chika
Account Number: 1395
Date of opening: 01-01-2011
Balance: $3000

Name: Toninho Takeo
Account Number: 6345
Date of opening: 01-05-2011
Balance: $4000

=============================
Name: Luciana Chika
Account Number: 1395
Date of opening: 01-01-2011
Balance: $3000

$1000 has been deposited in your account.
Current balance is $4000.
Insufficient balance.
$3400 has been withdrawn from your account.
Current balance is $600.

In [208]:
class Employee:
    def __init__(self, name, companyname):
        self.name = name
        self.conam = companyname
        
class manager(Employee):
    def __init__(self,mgrname, mgrid, salary):
        self.mgrname=mgrname
        self.mgrid= mgrid
        self.salary= salary
        
        

    def print_employee_details(self):
        print("\nName: ", self.name)
        print("ID: ", self.conam)
        print("",self.mgrid)
        print("",self.salary)
        
#employee1 = Employee("ADAMS",  "ACCOUNTING","23",'2000')
#employee2 = Employee("JONES", "RESEARCH","24",'6888')
employee1 = manager("ADAMS", "ACCOUNTING",'afjdj',"23",'2000')
employee2 = manager("JONES", "RESEARCH","24",'6888')
employee1.print_employee_details()
employee2.print_employee_details()

TypeError: __init__() takes 4 positional arguments but 6 were given

In [ ]:
'''Write a Python program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).'''

In [213]:
li=[]
for i in range(1500, 2701):
    if i%7==0 and i%5==0:
        li.append(i)
print(li)

[1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995, 2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695]

In [ ]:
'''rite a Python program that prints all the numbers from 0 to 6 except 3 and 6.'''

In [215]:
for i in range(0,7):
    if i==3 or i==6:
        continue
    print(i)

0
1
2
4
5

In [217]:
#rogram to check whether an alphabet is a vowel or consonant.
ch=input()
v=['a','e','i','o','u']
for i in ch:
    if i in v:
        print("vowel")
    else:
        print("consonant")

e
vowel

In [228]:
#Python program to check if a triangle is equilateral, isosceles or scalene.'''
def tri(a,b,c):
    if a==b==c:
        print("equilateral")
    elif(a==b!=c):
        print("isosceles")
    elif(a!=b!=c):
        print("scalene")

In [227]:
tri(2,4,4)

In [229]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  if x in d:
      print('Key is present in the dictionary')
  else:
      print('Key is not present in the dictionary')
is_key_present(5)
is_key_present(9)

Key is present in the dictionary
Key is not present in the dictionary

In [230]:
d = {'x': 10, 'y': 20, 'z': 30} 
for dict_key, dict_value in d.items():
    print(dict_key,'->',dict_value)

x -> 10
y -> 20
z -> 30

In [231]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [238]:
d= {'x': 10, 'y': 20, 'z': 30} 
t=0
for a in d:
    t=t+d[a]
print(t)    
print(sum(d.values()))

60
60

In [239]:
# Python3 code to demonstrate
# each occurrence frequency using
# naive method

# initializing string
test_str = "GeeksforGeeks"

# using naive method to get count
# of each element in string
all_freq = {}

for i in test_str:
	if i in all_freq:
		all_freq[i] += 1
	else:
		all_freq[i] = 1

# printing result
print("Count of all characters in GeeksforGeeks is :\n "+ str(all_freq))

Count of all characters in GeeksforGeeks is :
 {'G': 2, 'e': 4, 'k': 2, 's': 2, 'f': 1, 'o': 1, 'r': 1}

In [242]:
tststr='kr'
d={}
for i in tststr:
    if i in d:
        d[i]=d[i]+1
    else:
        d[i]=1
            
print("count"+str(d))

count{'k': 1, 'r': 1}

In [ ]:
#A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.
#Ask user for their salary and year of service and print the net bonus amount.

In [255]:
ser = int(input())
sal= int(input())
netbonus=0
if ser>5:
    netbonus=0.5*sal
    print("bonus",netbonus)
else:
    print("nobonus")

6
24455
bonus 12227.5

In [251]:
#A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
Ask user to enter marks and print the corresponding grade.

TypeError: '<' not supported between instances of 'list' and 'int'

In [260]:
marks= int(input())
if(marks>80):
    print("A")
elif(marks>=25 and marks<=45):
    print("E")
elif(marks>=45 and marks<=50):
    print("D")
elif(marks>=50 and marks<=60):
    print("C")
elif(marks>=60 and marks>=80):
    print("B")
else:
    print("F")

90
A

In [ ]:
'''A student will not be allowed to sit in exam if his/her attendence is less than 75%.
Take following input from user
Number of classes held
Number of classes attended.
And print
percentage of class attended
Is student is allowed to sit in exam or not.'''

In [264]:
ch= int(input())
ca= int(input())

per =((ca)/(ch)*100)
if per>75:
    print("allowed")
elif (per<75):
    
    print("not allowed")

100
80
allowed

In [270]:
#Write a program to check if the letter 'e' is present in the word 'Umbrella'.
word='umbrella'
ch='e'
for i in word:
    if ch in word:
        print("present")
    else:
        print("absent")

present
present
present
present
present
present
present
present

In [272]:
#Write a program to find the length of the string "refrigerator" without using len function.

st='refrigerator'
ct=0
for i in st:
    if i in st:
        ct=ct+1
print(ct)

12

In [275]:
#Write down the names of 10 of your friends in a list and then sort those in alphabetically ascending order.
l=['shradha','divya','radhika','kiran']
for i in l:
    l.sort()
l

['divya', 'kiran', 'radhika', 'shradha']

In [ ]:
#Create a Cricle class and intialize it with radius. Make two methods getArea and getCircumference inside this class.

In [300]:
class Circle():
    def __init__(self,radius):
        self.radius =radius
    def getarea(self):
        return 3.14*self.radius*self.radius
    def getcircumference(self):
        return self.radius*2*3.14

In [301]:
getarea('4')

AttributeError: 'str' object has no attribute 'radius'

In [293]:
Create a Student class and initialize it with name and roll number. Make methods to :
1. Display - It should display all informations of the student.
2. setAge - It should assign age to student
3. setMarks - It should assign marks to the student.

AttributeError: 'int' object has no attribute 'radius'

In [306]:
class student():
    def __init__(self,name,rollnu):
        self.name=name
        self.rollnu= rollnu
    def display(self):
        print(self.name)
        print(self.rollnu)
    def setage(self,age):
        self.age=age
    def setmarks(self,marks):
        self.marks=marks
s1= student("shradha",23)
s1.display()
s1.setage(24)

shradha
23

In [307]:
s1.display()

shradha
23

In [308]:
values = [3, 5, 2, 1]

for x in values:
    x = 0

In [309]:
values

[3, 5, 2, 1]

In [312]:
for i in range(10):
    print(i)
    i = 11

0
1
2
3
4
5
6
7
8
9

In [314]:
def pythagorean(a,b):
    a_squared= a**a
    b_squared=b**b
    c_squared = a_squared+b_squared
    return a_squared, b_squared, c_squared

In [315]:
pythagorean(5,12)

(3125, 8916100448256, 8916100451381)