In [ ]:
aList = [10, 20, 30, 40, 50, 60, 70, 80]
print(aList[2:5])
print(aList[:4])
print(aList[3:])

In [ ]:
sampleList = [10, 20, 30, 40, 50]
sampleList.append(60)
print(sampleList)

sampleList.append(60)
print(sampleList)

In [ ]:
aList = ['a', 'b', 'c', 'd']

newList = aList.copy()
newList

In [ ]:
aList = ["PYnative", [4, 8, 12, 16]]
print(aList[0][1])    
print(aList[1][3])

In [ ]:
l = [None] * 10
print(len(l))

In [ ]:
aList = [5, 10, 15, 25]
print(aList[::-3])

In [ ]:
aList = [4, 8, 12, 16]
aList[1:2] = [20, 24, 28]
print(aList)

In [ ]:
sampleList = [10, 20, 30, 40]
del sampleList[0:6]
print(sampleList)

In [ ]:
aList = [1, 2, 3, 4, 5, 6, 7]
pow2 =  [2 * x for x in aList]
print(pow2)

In [ ]:
list1 = ['xyz', 'zara', 'PYnative']
print (max(list1))

In [ ]:
my_list = ["Hello", "Python"]
print("-".join(my_list))

In [ ]:
sampleList = [10, 20, 30, 40, 50]
print(sampleList[-2])
print(sampleList[-4:-1])

In [ ]:
sampleList = [10, 20, 30, 40, 50]
sampleList.pop()
print(sampleList)

sampleList.pop(2)
print(sampleList)

In [ ]:
resList = [x+y for x in ['Hello ', 'Good '] for y in ['Dear', 'Bye']]
print(resList)

In [ ]:
sample_list = [34, 54, 67, 89, 11, 43, 94]

print("Original list ", sample_list)
element = sample_list.pop(4)
print("List After removing element at index 4 ", sample_list)

sample_list.insert(2, element)
print("List after Adding element at index 2 ", sample_list)

sample_list.append(element)
print("List after Adding element at last ", sample_list)

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", sample_list)

count_dict = dict()
for item in sample_list:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

print("Printing count of each item  ", count_dict)

In [ ]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
print("Original list ", sample_list)

count_dict = dict()
for item in sample_list:
    if item in count_dict:
        count_dict[item] += 1
    else:
        count_dict[item] = 1

print("Printing count of each item  ", count_dict)

In [ ]:
def calculation(a, b):
    addition = a + b
    subtraction = a - b
    # return multiple values separated by comma
    return addition, subtraction

# get result in tuple format
res = calculation(40, 10)
print(res)

In [ ]:
#count = int(input("Enter the count of numbers: "))
i = 0
sum = 0
for i in range(0, 5):
    x = int(input("Enter an integer: "))
    sum = sum + x
avg = sum/5
print("The average is: ", avg)

In [ ]:
numbers = [8,3,1,6,2,4,5,9]
count = 0
odd_list =[]
for i in range(len(numbers)):
    if(numbers[i]%2!=0):
        count = count+1
        odd_list.append(numbers[i])
print("The number of odd numbers in the list are: ", count)
print("The number of odd numbers in the list are: ", odd_list)

In [ ]:
list = [ 'Tech', 404, 3.03, 'Beamers', 33.3 ]
print(list[1:3])

In [ ]:
def f():
    pass

print(type(f()))

In [ ]:
num = '5'*'5'

In [ ]:
x = True
y = False
z = False
if not x or y:
    print(1)
elif not x or not y and z:
    print(2)
elif not x or y or not y and x:
    print(3)
else:
    print(4)

In [ ]:
print(type(1J))

In [ ]:
print(3/5)

In [ ]:
tinytuple = (123, 'techbeamers')
print(tinytuple * 2)

In [ ]:
a = [1,2,3,None,(),[]]
print(len(a))

In [ ]:
print(abc)

In [ ]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
colors[2]

In [ ]:
pre_code = "Python" 
a = "Python Quiz" 
print(a[2:5])

In [ ]:
pre_code = "Python"
for i in range(0,10,3):    
    print(i)

In [ ]:
pre_code = "python" 
c = 2 ** 3 + 4 * 2 
print(c)

In [ ]:
2**3

In [ ]:
4*2

In [ ]:
x = 'abcd'
for i in x:
    print(i.upper())

In [ ]:
for i in [1, 2, 3, 4][::-1]:
    print (i)

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

In [ ]:
11**2

In [ ]:
print(2**3 + (5 + 6)**(1 + 1))

In [ ]:
var = 10
print(type(var))
var = "Hello"
print(type(var))

In [ ]:
def solve(a):
    a = [1, 3, 5]
#a = [2, 4, 6]
print(a)
#solve(a)
#print(a)

In [ ]:
50%20

In [ ]:
def solve(a, b):
    return b if a == 0 else solve(b % a, a)
print(solve(20, 50))

In [ ]:
a = [1, 2]
print(a * 3)

In [ ]:
example = ["Sunday", "Monday", "Tuesday", "Wednesday"];
del example[2]
print(example)

In [ ]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
print(sorted_numbers)

In [ ]:
numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
odd_numbers = [x for x in sorted_numbers if x % 2 != 0]
print(odd_numbers)

In [ ]:
#Sets in python store only unique elements within them, without any repetition.
s = {1, 2, 3, 3, 2, 4, 5, 5}
print(s)

In [ ]:
a = [1, 2, 3, 4]
b = [3, 4, 5, 6]
c = [x for x in a if x not in b]
print(c)

In [ ]:
2 ** 3 + 5 ** 2

In [ ]:
list1=[1,2,3,4,5,6,7,8,9]

In [ ]:
list1[4]

In [ ]:
 list1[:5]

In [ ]:
list1=[1,3.4,4,'a','t',4]
print((set(list1)))

In [ ]:
list1=[9,8,7,6,5,4,3,2,1]
list1.pop(4)

In [ ]:
list1=['abc','tres','yes']
print(list1[0][0])
print(list1[0][1])
print(list1[0][2])
print(list1[1][0])
print(list1[1][1])
print(list1[1][2])
print(list1[1][3])
print(list1[2][1])
print(list1[2][2])

In [ ]:
list1=['abc','rt',0,4,5.7]

list2=[i for i in list1 if i]

list2

In [ ]:
if('P' in 'Python'):
    print('P is present',end=" ")
else:
    print('Not present')

In [ ]:
no=5
if(no%2==0):
    print('Even Number')
    #else(no%2==1):
else:
        print('odd Number')

In [ ]:
class MathUtils:

    @staticmethod
    def average(a, b):
        return a + b / 2

print(MathUtils.average(2, 1))

In [ ]:
def unique_names(names1, names2):
    return None

if __name__ == "__main__":
    names1 = ["Ava", "Emma", "Olivia"]
    names2 = ["Olivia", "Sophia", "Emma"]
    for i in names1:
        if (names1[i]==names2[i]):
            print(unique_names(names1, names2))

In [ ]:
s1= 'a'
s2='b'
s3= s1+s2
s3

In [ ]:
mystr = "codescracker"
print(type(mystr))

In [ ]:
mystr = "codescracker"
print(mystr.replace("c", "x"))

In [ ]:
mystr[3]

In [ ]:
print(0.1 + 0.2 == 0.3)

In [ ]:
mylist = ['c', 'o', 'd', 'e', 's']
print(len(mylist))

In [ ]:
mylist = [10, 20, 5, 30, 15]
print(max(mylist))

In [ ]:
mylist = [10, 20, 5, 30, 15]
print(sum mylist)

In [ ]:
mylist = [4, 2, 2, 4, 5, 2, 564, 0]

In [ ]:
print(mylist[:5])

In [ ]:
print(mylist[:-1])

In [ ]:
mylist = [10, 20, 5, 30, 15]
print(mylist[-2])

In [ ]:
mylist = [0.5 * x for x in range(0, 4)]
print(mylist)

In [ ]:
mylist = [3, 4, 5, 20, 5]
print(mylist.index(5))

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
print(mylist.count(5))

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
mylist.reverse()
print(mylist)

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
mylist.extend([34, 5])
print(mylist)

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
print(mylist.pop(1))

In [ ]:
mylist = [3, 4, 5, 20, 5, 25, 565, 3]
mylist.pop()
print(mylist)

In [ ]:
list_1 = [ 3, 5, 7, 3, 9, 3 ]   
print(list_1)  
list_1.remove(3)   
print("After removal: ", list_1)

In [ ]:
str = "Rohan"  
str2 = "ab"  
# Calling function    
str2 = str.join(str2)    
# Displaying result    
print(str2)

In [ ]:
list = [2,4,6,7,3,4]  
print(5 in list) # False  
cities = ("india","delhi")  
print("tokyo"  in cities) #True

In [ ]:
import numpy as np
arr = np.arange(10)
arr

In [ ]:
for i in arr:
    if(arr[i]%2==1):
        print(arr[i])

In [ ]:
import pandas as pd


def sum(x, y, z):
    return x + y + z


df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})

df1 = df.apply(sum, args=(1, 2))
print(df1)

In [ ]:
df