In [91]:
import pandas as pd
data8 = [[1,'10-3-2022',2300],[2,'10-3-2022',2500],[3,'10-3-2022',2700],[1,'11-3-2022',2300],[2,'11-3-2022',2500],[3,'11-3-2022',4500],[1,'12-3-2022',4600],[2,'12-3-2022',5000],[3,'12-3-2022',2700]]
store= pd.DataFrame(data8, columns=['storeid', 'date', 'sales'])

In [92]:
store

   storeid       date  sales
0        1  10-3-2022   2300
1        2  10-3-2022   2500
2        3  10-3-2022   2700
3        1  11-3-2022   2300
4        2  11-3-2022   2500
5        3  11-3-2022   4500
6        1  12-3-2022   4600
7        2  12-3-2022   5000
8        3  12-3-2022   2700

In [93]:
import time
from datetime import datetime
from datetime import date

In [99]:
store['date'] =  pd.to_datetime(store['date'], format = '%d-%m-%Y')

In [95]:
#store['date']= datetime.strptime(store['date'], '%d/%m/%Y')

In [89]:
store

   storeid       date  sales
0        1 2022-03-10   2300
1        2 2022-03-10   2500
2        3 2022-03-10   2700
3        1 2022-03-11   2300
4        2 2022-03-11   2500
5        3 2022-03-11   4500
6        1 2022-03-12   4600
7        2 2022-03-12   5000
8        3 2022-03-12   2700

In [78]:
from subprocess import *
import timeit

In [39]:
#(store['date'].apply(lambda d: d.day))

In [40]:
store['Day'] = store['date'].apply(lambda r:r.day)
store['Month'] = store['date'].apply(lambda d:d.month)
store['Year'] = store['date'].apply(lambda r:r.year)

In [98]:
type(store['date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
#store['date']= pd.to_datetime(store[['month','day','year']])

In [90]:
x=store.shape[0]
x

9

In [102]:
type(store['day_before'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [101]:
store['day_before'] = store['date'] - pd.tseries.offsets.DateOffset(days=1)

In [103]:
store

   storeid       date  sales day_before
0        1 2022-03-10   2300 2022-03-09
1        2 2022-03-10   2500 2022-03-09
2        3 2022-03-10   2700 2022-03-09
3        1 2022-03-11   2300 2022-03-10
4        2 2022-03-11   2500 2022-03-10
5        3 2022-03-11   4500 2022-03-10
6        1 2022-03-12   4600 2022-03-11
7        2 2022-03-12   5000 2022-03-11
8        3 2022-03-12   2700 2022-03-11

In [43]:
#store['day_before'] =  pd.to_datetime(store['day_before'], format = '%d/%m/%Y')

In [111]:

store['date'] = store['date'].astype(str)
store['day_before'] = store['day_before'].astype(str)
type(store['day_before'][0])

str

In [116]:
def fetch_details(a,b):
    print(type(b))
    #b =  pd.to_datetime(b, format = '%d/%m/%Y')
    #b= datetime.strptime(b, '%d/%m/%Y')
    print(type(b))
    for i in range(0,x):
        #b=store['storeid'][i]
        #c=store['date'][i]
        #str_date = pandastostring(store['date'][i])
        if((store['storeid'][i]==a) and (store['date'][i]==b)):
        #if((store['storeid'][i]==a)):
            v=store['day_before'][i]
            print(v)
            for j in range(0,x):
                if((v==store['date'][j]) and (store['storeid'][j]==a)):
                    w=store['sales'][j]
                    print(w)

In [117]:
(fetch_details(2,'2022-03-12'))

<class 'str'>
<class 'str'>
2022-03-11
2500

In [120]:
print(fetch_details(2,'2022-03-11'))
#print(b)

<class 'str'>
<class 'str'>
2022-03-10
2500
None